<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.events.hanle.events">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="com.events.hanle.events.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <permission
        android:name="com.events.hanle.events.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />


    <application
        android:name=".app.MyApplication"
        android:fullBackupContent="@xml/my_backup_rules"
        android:icon="@drawable/nooismall"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        tools:replace="android:icon"
        android:allowBackup="true">
        <activity
            android:name=".Activity.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.UserChangeOfDescision"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UserTabView"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ListOfEvent1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.UserAttendingStatus"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.NooiGallery"
            android:screenOrientation="portrait" />

        <receiver android:name=".BroadCast.ScheduledPush">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".BroadCast.SchedulePushfortodayy">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".BroadCast.SchedulPushForRsvp">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".BroadCast.Offline">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BroadCast.DeviceBootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>


        <receiver
            android:name=".BroadCast.MyAlarm"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".gcm.GcmIntentService"
            android:exported="false" />
        <service
            android:name=".BroadCast.SceduledPushNotification"
            android:exported="false" />

        <service
            android:name=".BroadCast.OfflineService"
            android:exported="false" />

        <service
            android:name=".BroadCast.RsvpPush"
            android:exported="false" />

        <service android:name=".gcm.MyInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".gcm.MyFcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9731448046010532be8054c7fb9e940a1e6ec9ad" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBOyMHLZI1sWG3TdU1PGDa1WTcgVTlE1J4" />

        <!--<meta-data-->
        <!--android:name="com.google.android.geo.API_KEY"-->
        <!--android:value="AIzaSyAm205HNgwy0cyVHxb9ULYQ9MwWlARjMrA" />-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".Activity.ListOfConcluded"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ListOfCancelledEvent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EventArtwork"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.OrganiserLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.OrganiserContactForm"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activity.OrganiserContactFormListEvent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CameraImageView"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CancelledEvent"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ConcludedEvent"
            android:label=""
            android:screenOrientation="portrait" />

    </application>

</manifest>